
/*  */
.gd-event-node-a {
    color: inherit;
    text-decoration: none; /* no underline, link */
}


.gd-event-node {
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "event-image event-text event-text";
    width: 25em;
    border-top: solid lightgray;

}

.gd-event-node-image {
    grid-area: event-image;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gd-event-node-text {
    grid-area: event-text;
    display: flex;
    flex-direction: column;
    /* width: 25em; */
    align-items: center;
    padding: 1em;
    /*  */
    text-align: center;

}

.gd-event-node-description {
    grid-area: event-description;
}
/*  */


.group-details-and-events-wrapper {
    padding: 0 5em;
}
/* .group-details-wrapper {
    /* width: 50em; */
    /* padding: 0 5em; */
/*} */

.group-details-event-num {
    font-size: larger;
    padding: 1em 0;
}

.group-details-top {
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "group-link-img group-description";
    /* width: 50em; */
    /* border-top: solid lightgray; */

}

.gd-top-link-img {
    grid-area: group-link-img;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gd-top-group-description {
    grid-area: group-description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-details-middle, .group-details-bottom {
    background-color: lightgray;
}

/* <>
            <div className="group-details-top">
                <div className="gd-top-group-link">
                {"< "}
                <NavLink to="/groups">Groups</NavLink>
                </div>

                <div className="gd-top-image">
                    {groupImageUrl}
                </div>

                <div className="gd-top-group-description"> */
