/* html {

        border: 0px;
        padding:0;
        margin:0;
} */

.nav-wrapper {
    border-bottom: 5px solid black;
}

.hidden {
    visibility: hidden;
}

li {
    list-style-type: none
}

.nav-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "left . right";
    margin: 0;
}

.nav-grid-left {
    background-color: red;
    grid-area: left;
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-grid-right {
    background-color: lightblue;
    grid-area: right;
    display: flex;
    justify-content: center;
}
.nav-grid-right-logged-in {
    background-color: rgb(32, 115, 142);
    grid-area: right;
    display: flex;
    justify-content: center;
    position: sticky;
}
